:root {
  --white-900: #ffffff;
  --black-950: #121214;
  --black-900: #272727;
  --black-800: #2c2b2d;
  --gray-900: #828083;
  --orange-900: #f65010;
  --animation-duration: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--black-900);
  color: var(--white-900);
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

a {
  color: var(--orange-900);
  text-decoration: none;
}

button {
  cursor: pointer;
}

.content-flex {
  display: flex;
  align-items: center;
}

.content-flex-center {
  align-items: center;
  justify-content: center;
}

.content-flex-center-column {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-flex-between {
  align-items: center;
  justify-content: space-between;
}

.container__full {
  width: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .container__full {
    width: 100%;
  }
}

.underConstruction {
  height: 100vh;
}

.posts a {
  color: inherit;
}

pre {
  background: var(--black-950);
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  width: fit-content;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

ol,
ul {
  margin-left: 16px;
  padding-top: 16px;
}

li {
  margin-top: 8px;
}

hr {
  margin: 16px 0;
  border: 1px solid var(--white-900);
}
