.header {
  display: flex;
  border-radius: 16px;
  background: var(--black-800);
  margin: 16px;
}

.header__nav {
  display: flex;
  gap: 16px;
}

.header__navLink {
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
}
