.helpMe ul {
  padding-left: 24px;
}
.helpMe {
  padding: 16px;
  background-color: var(--white-900);
}
.helpMe.dark {
  background-color: var(--black-900);
}
@media (min-width: 768px) {
  .helpMe {
    padding: 32px;
  }
}
